.cat-container {
  position: absolute;
  top: 250px;
  left: 300px;
}

.cat-eye {
  margin: 20px;
  background-color: white;
  width: 100px;
  height: 60px;
  position: relative;
  z-index: 2; 
  border-radius: 50px;
  border: 1px solid black;
}

.cat-eyes {
  display: flex;
  flex-flow: row;
  position: relative;
  top: 50px;
  left: 13px;
}

.cat-head {
  background-color: gray;
  border: 3px solid black;
  position: absolute;
  width: 300px;
  height: 250px;
  border-radius: 200px;
  z-index: 1;
}

.cat-iris {
  z-index: 3;
  background-color: yellow;
  width: 44px;
  height: 60px;
  border-radius: 20px;
  position: relative;
  left: 28px;
  border: 1px solid black;
}

.cat-muzzle {
  background-color: white;
  border: 3px solid black;
  position: relative;
  top: 60px;
  left: 38px;
  width: 225px;
  height: 100px;
  border-radius: 250px;
  z-index: 2;
}

.cat-nose {
  background-color: deeppink;
  border: 3px solid black;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  z-index: 3;
  position: relative;
  top: 3px;
  left: 93px;
}

.cat-pupil {
  background-color: black;
  width: 10px;
  height: 60px;
  z-index: 4;
  border-radius: 10px;
  position: relative;
  left: 17px;
}