.cat-container {
  top: 250px;
  position: absolute;
  left: 300px;
}

.cat-eye {
  margin: 20px 30px;
  background-color: white;
  width: 75px;
  height: 50px;
  position: relative;
  z-index: 2;
  border-radius: 50px;
  border: 1px solid black;
  transform: rotate(8deg);
}

.cat-eyes-container {
  display: flex;
  flex-flow: row;
  position: relative;
  top: 70px;
  left: 18px;
}

.cat-head {
  background-color: gray;
  border: 3px solid black;
  position: absolute;
  width: 300px;
  height: 250px;
  border-radius: 200px;
  z-index: 1;
}

.cat-iris {
  z-index: 3;
  background-color: yellow;
  width: 44px;
  height: 50px;
  border-radius: 20px;
  position: relative;
  left: 15px;
  border: 1px solid black;
}

.cat-muzzle {
  background-color: white;
  border: 3px solid black;
  position: relative;
  top: 75px;
  left: 70px;
  width: 160px;
  height: 80px;
  border-radius: 250px;
  z-index: 2;
}

.cat-nose {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 25px solid transparent;
  border-top: 30px solid deeppink;
  position: relative;
  left: 55px;
  top: -5px;
  z-index: 4;
}

.cat-nose-circle {
  background-color: deeppink;
  border: 3px solid black;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  z-index: 3;
  position: relative;
  top: -10px;
  left: 62px;
}

.cat-pupil {
  background-color: black;
  width: 9px;
  height: 50px;
  z-index: 4;
  border-radius: 100%;
  position: relative;
  left: 17px;
}

.cat-right-eye {
  transform: rotate(-8deg);
}